nvitop
swanlab
rich
omegaconf
gymnasium
gym
gym3
torchdata
datasets
accelerate
lmdb
albumentations
redis
litellm

#deepseek-vl
attrdict
easydict

# minestudio
av==11.0.0
opencv-python
setuptools
tqdm
numpy
requests
ipython
typing
gym
gym3
gymnasium
hydra_colorlog
hydra-core>=1.3.2
lmdb
wandb
torch>=2.3.1
lightning
scipy
rich
coloredlogs
daemoniker
lxml
cuda-python
diskcache
albumentations
einops
timm
transformers
Pyro4
xmltodict
pyrender==0.1.45
pyglet==1.5.27
imgui
pyopengl
ray
sentence-transformers==4.1.0
qwen-vl-utils==0.0.11
minecraft_data==3.20.0
thefuzz==0.22.1
absl-py
dm-tree
x_transformers==0.27.1